.container{
    width: 1200px;
    margin: auto;
}
.navbar{
background-color: rgba(188, 143, 143, 0.323);;
overflow: hidden;
height: 60px;
}
.navbar .logo{
float: left;
width: 30%;
margin-top: -5px;
color: rosybrown;
padding-top: 0px;
}
.navbar .links{
    float: left;
    width: 70%;
    margin-top: 10px;
    font-weight: 500;
}
.clearfix{
    clear: both;
}
 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar .links li {
    display: inline-block;
    padding: 10px 15px ;
    border-bottom: 2px solid transparent;
}
.navbar .links li a.active,
.navbar .links li a:hover{
    color: white;
    border-bottom: 2px solid white;
}
a{
    text-decoration: none;
    color: rosybrown;
    font-size: 18px;
}
.container2 a{

    border: 1PX solid transparent;
    border-radius: 12px;
    background-color: #eee;
    width: 400px;
    height: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  /*  margin-left: 550px;*/
    color: rgb(188, 143, 143);
}
.container2 {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    
}

